*{
  box-sizing: border-box;
  border: 1px solid red;
  padding: 0px;
  margin: 0px;
}
.App{
  display: contents;
}
#root{
  display: contents;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  text-align: center;

}

h1{
  padding: 1rem 0rem;
}


main{
  width: 100%;
  display: grid;
  height: 84vh;
  place-content: center;
  

}

main button{
  padding: 1rem 2rem;
  border-radius: 15rem;
  background-color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
}


Footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5vh;
  
  
}
footer p{
  height: 100%;
  display: grid;
  place-content: center;
}


